.home {
  background-image: url("../pictures/Fond4.png");
  min-height: 100vh;
}

.home-title {
  text-align: center;
  font-style: oblique;
}

.home-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: solid black 1px;
  background: #a9621647;
  margin: 2em;
}

.card-title {
  text-align: center;
  color: rgb(255, 255, 255);
}

.card-img {
  height: 25vh;
}

.home-div-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
}

.home-btn:hover {
  background-color: gold;
  transform: scale(1.1, 1.1);
}

.home-btn {
  background: #eac550;
  font-size: medium;
  font-weight: 600;
  border-radius: 20px;
  height: 3em;
  border: solid black 1px;
  width: 11em;
}
