.main {
  background-image: url("../assets/pictures/Fond4.png");
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-title {
  font-style: oblique;
  position: fixed;
  top: 0;
  left: 1rem;
}
.main-glasses {
  display: flex;
  justify-content: center;
}
.main-img-glasses {
  height: 170px;
}
img {
  max-height: 50vh;
}
.main-welcome-link {
  position: fixed;
  right: 1rem;
  bottom: 2.5rem;
}

/*---Mobile---*/

@media screen and (min-width: 568px) and (max-width: 926px) and (orientation: landscape) {
  .main-img-glasses {
    height: 300px;
  }
  .img {
    max-height: 60vh;
  }
}

@media screen and (min-width: 361px) and (max-width: 599px) and (orientation: portrait) {
  .main-title {
    font-style: oblique;
    position: fixed;
    top: 2rem;
    left: 2rem;
  }
  .main-img-glasses {
    height: 300px;
  }
  .img {
    max-height: 60vh;
  }
  .main-welcome-link {
    position: fixed;
    right: 1rem;
    bottom: 4rem;
  }
}

/*---Tablette---*/
@media screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
  .main-title {
    font-style: oblique;
    position: fixed;
    top: 4rem;
    left: 4rem;
  }
  .main-img-glasses {
    height: 600px;
  }
  .img {
    max-height: 80vh;
  }
}
.main-welcome-link {
  position: fixed;
  right: 4rem;
  bottom: 4rem;
}
@media screen and (min-width: 960px) and (max-width: 1366px) and (orientation: landscape) {
  .main-img-glasses {
    height: 800px;
  }
  .img {
    max-height: 80vh;
  }
}

/*---descktop---*/
@media screen and (min-width: 1024px) and (max-width: 2048px) {
  .main-title {
    font-style: oblique;
    position: fixed;
    top: 6rem;
    left: 6rem;
  }
  .main-img-glasses {
    height: 1080px;
  }
  .img {
    max-height: 100vh;
  }
  .main-welcome-link {
    position: fixed;
    right: 6rem;
    bottom: 6rem;
  }
}
