.box {
  background-image: url("../assets/pictures/Fond4.png");
  height: 100vh;
  width: 100wh;
}

.title {
  color: black;
  margin-top: 0;
  padding: 1.5em 0 0 2em;
}

.glasses {
  max-height: 65vh;
  text-align: center;
}

img {
  max-height: 65vh;
}

.welcome-btn {
  position: fixed;
  right: 9vw;
  bottom: 6vw;
}
