@font-face {
  font-family: "exo2light";
  src: url("../assets/fonts/exo2-light-webfont.woff2") format("woff2"),
    url("../assets/fonts/exo2-light-webfont.woff") format("wooff");
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "exo2light";
}

.box {
  background-image: url("../pictures/Fond4.png");
  height: 100vh;
  width: 100wh;
}

.title {
  color: black;
  margin-top: 0;
  padding: 1.5em 0 0 2em;
}

.glasses {
  max-height: 65vh;
  text-align: center;
}

img {
  max-height: 65vh;
}

.link:hover {
  background-color: gold;
  transform: scale(1.5, 1.5);
}

.link {
  text-decoration: none;
  color: black;
  position: fixed;
  right: 9vw;
  bottom: 6vw;
  font-size: 1.2em;
  font-weight: 900;
  background-color: #eac550;
  border-radius: 20px;
  padding: 1em 1.8em;
  border: 1px solid black;
}
