.box-navbar {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav-image-logo {
  height: 3rem;
}

.nav-title {
  color: #dec439;
}

.nav-image-profile {
  width: auto;
  height: 3rem;
  color: #eac550;
}
