@font-face {
  font-family: "Exo 2";
  src: url("./assets/fonts/exo2-light-webfont.woff2") format("woff2"),
    url("./assets/fonts/exo2-light-webfont.woff") format("woff");
  font-weight: light;
}

@font-face {
  font-family: "Exo 2";
  src: url("./assets/fonts/Exo2-Bold.otf") format("opentype");
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Exo 2";
  font-weight: light;
}

.link:hover {
  background-color: gold;
  transform: scale(1.1, 1.1);
}

.link {
  background-color: #eac550;
  font-size: medium;
  font-weight: bold;
  border-radius: 20px;
  border: solid black 1px;
  text-decoration: none;
  color: black;
  padding: 1em 1.8em;
}
