@font-face {
  font-family: "exo2light";
  src: url("./assets/fonts/exo2-light-webfont.woff2") format("woff2"),
    url("./assets/fonts/exo2-light-webfont.woff") format("wooff");
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "exo2light";
}

.link:hover {
  background-color: gold;
  transform: scale(1.1, 1.1);
}

.link {
  background-color: #eac550;
  font-size: medium;
  font-weight: 600;
  border-radius: 20px;
  border: solid black 1px;
  text-decoration: none;
  color: black;
  padding: 1em 1.8em;
}
